<div class="spaceBody" *ngIf="!isEdit">
  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro">
    </mat-form-field>
  </div>
  <div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource">
      <!-- Name Column -->
      <ng-container matColumnDef="titulo">
        <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.titulo}} </mat-cell>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="info">
        <mat-header-cell *matHeaderCellDef> Info </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.info}} </mat-cell>
      </ng-container>

      <!-- Color Column -->
      <ng-container matColumnDef="localidade">
        <mat-header-cell *matHeaderCellDef> Localidade </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.localidade}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="opcoes">
        <mat-header-cell *matHeaderCellDef> Opções </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-button (click)="editItem(element._id)">Editar</button>
          <button mat-button (click)="deleteItem(element._id)">Excluir</button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]">
    </mat-paginator>
  </div>
</div>

<div class="spaceBody" *ngIf="isEdit">
    <button mat-icon-button (click)="back();">
        <mat-icon aria-label="Example icon-button with a heart icon">clear</mat-icon>
    </button>
    <app-edit [id]="exportId" (update)="back()" ></app-edit>
</div>