<div class="logo-insetos">
      <img src="../../assets/imgs/icon.png" alt="" height="200" width="200">
</div>

<div>
      <mat-tab-group>
            <mat-tab>
                  <ng-template mat-tab-label>
                        Adicionar Inseto
                  </ng-template>
            </mat-tab>
            <mat-tab>
                  <ng-template mat-tab-label>
                        Listar Insetos
                  </ng-template>

                  <form (ngSubmit)="submit()" >
                        
                  </form>
            </mat-tab>
      </mat-tab-group>
</div>