<!--The content below is only a placeholder and can be replaced.-->
<div layout="column">
	<mat-toolbar class="header-toolbar" toolbareco>
		<button mat-button routerLink="/">Home</button>
		<button mat-button routerLink="/trees">Arvores</button>
		<button mat-button routerLink="/fosseis">Fosseis</button>
		<button mat-button routerLink="/insetos">Insetos</button>
		<button mat-button routerLink="/historia">História</button>
	</mat-toolbar>
</div>


<div>
	<router-outlet></router-outlet> 
</div>
