<div class="logo">
      <img src="../../assets/imgs/icon.png" alt="" height="200" width="200">
</div>
<div>
      <mat-tab-group>
            <mat-tab>
                  <ng-template mat-tab-label>
                        Adicionar Historia
                  </ng-template>
                   <form (ngSubmit)="submit()" class="example-container mat-elevation-z8 spaceBody" name="fossilForm" #fossilForm="ngForm">
                        <mat-form-field>
                              <input matInput [(ngModel)]="model.titulo" name="titulo" placeholder="Titulo">
                        </mat-form-field>

                        <mat-form-field>
                              <input matInput [(ngModel)]="model.localidade" name="localidade" placeholder="localidade">
                        </mat-form-field>

                        <mat-form-field>
                              <textarea matInput [(ngModel)]="model.info" name="info" placeholder="Informações Extras"></textarea>
                        </mat-form-field>
                        <button type="submit" mat-raised-button color="primary">Salvar</button>
                        <mat-progress-bar *ngIf="pbar" mode="indeterminate"></mat-progress-bar>
                  </form>
            </mat-tab>
            <mat-tab>
                  <ng-template mat-tab-label>
                        Listar Historias
                  </ng-template>
                  <app-list></app-list>
            </mat-tab>
      </mat-tab-group>
</div>