<div class="logo">
  <img src="../../assets/imgs/icon.png" alt="" height="200" width="200">
</div>

<div style="padding: 30px;">
  <mat-card>E C O M A P S S
    <p style="text-align: justify;">
      O conhecimento da flora nativa de uma determinada região tem papel fundamental na definição de estratégias de conservação
      da biodiversidade. Através de um levantamento florístico, podem-se adquirir informações que sejam relevantes para preservação
      ambiental. Com grande importância, visto que contribui com dados técnicos para identificar a flora da região. Neste
      sentido, existe uma necessidade de compartilhar informações para a população de forma simples, interativa, acessível
      e acrescentando valor educativo sobre a flora do meio ambiente pesquisado. Esse contexto justifica a criação de um
      aplicativo móvel, para ser utilizado como instrumento de auxílio à educação ambiental. Podendo o aplicativo, ser utilizado
      para auxiliar professores em disciplinas relacionadas à biologia e em aulas de campo. O objetivo deste trabalho é apresentar
      uma plataforma interativa, por meio de um aplicativo móvel, para despertar o aprendizado acerca da diversidade da flora
      nativa.
    </p>
  </mat-card>
</div>


<div class="flex-container">

    <img src="../../assets/imgs/apoios/ifce.png" alt="" height="50px" width="150px" class="disappear flex-item" appAppears>


    <img src="../../assets/imgs/apoios/sitio.jpg" alt="" height="50px" width="50px" class="disappear flex-item" appAppears>



    <img src="../../assets/imgs/apoios/bitmap1.png" alt="" height="50px" width="100px" class="disappear flex-item" appAppears>


</div>


<div>
  <div class="parallax">

  </div>
</div>

<div class="white-bar-min">
  <span> Copyrights © 2017 GPTecEdu, IFCE, Todos os direitos reservados.</span>
</div>